.L1{
    position: relative;
    top: 70px;
    right:190px;
}
.CheckbBox1{
    display: flex;
    justify-content:start;

}
.Body{
    display: flex;
    /* text-align: center; */
    font-size:large;
    justify-content: center;

}
.Listt{
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    margin: 2px;
    height: auto;
    max-width: 300px;
    width: auto;
    padding: 5px;
    display:block;
}
.textT{
    transform: translate(-0.5px);
}
h1{
    transform: translate(50px);
}
/* #TODO: Добавить стили для элементов из расширенной информации */