{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesI.css' %}" />
    <script src="{% static 'js/TestCase1.js' %}" defer></script>
    <title>Главная</title>
</head>

<body>
    <div class="Body">
        <h1>Список серверов:</h1>
        <div class="L1">
            {% for index, server in info.items %}
            <div class="Listt">
                <div class="textT">
                    <big>
                        <a href="server/{{ index }}/Default" class="server-link">{{ index }}. {{ server.label }}</a>
                    </big>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
<!-- transform: translate(15%, -500%); -->
    <div class = "CheckBox1">
        <form id="infoForm">
            <fieldset>
                <legend>Какую информацию вы хотите получить?</legend>
                <input type="radio" id="radio1" name="Info" value="Default" checked>
                <label for="radio1" onclick="updateLinks();">Базовую</label><br>
                <input type="radio" id="radio2" name="Info" value="Extended">
                <label for="radio2" onclick="updateLinks();">Расширенную</label><br>
            </fieldset>
        </form>
    </div>
</body>

</html>