Dll_Python/DllProj1.dll
Dll_Python/__pycache__/__init__.cpython-311.pyc
django1/Application1/__pycache__/__init__.cpython-311.pyc
django1/Application1/__pycache__/admin.cpython-311.pyc
django1/Application1/__pycache__/apps.cpython-311.pyc
django1/Application1/__pycache__/models.cpython-311.pyc
django1/Application1/__pycache__/Mutils1.cpython-311.pyc
django1/Application1/__pycache__/views.cpython-311.pyc
django1/Application1/migrations/__pycache__/__init__.cpython-311.pyc
django1/Application1/mod/__pycache__/__init__.cpython-311.pyc
django1/Application1/mod/__pycache__/Mutils1.cpython-311.pyc
django1/django1/__pycache__/__init__.cpython-311.pyc
django1/django1/__pycache__/settings.cpython-311.pyc
django1/django1/__pycache__/urls.cpython-311.pyc
django1/django1/__pycache__/wsgi.cpython-311.pyc
Dll_Python/__init__.py
Dll_Python/help.txt
Dll_Python/main2.py
Dll_Python/__pycache__/main2.cpython-311.pyc
test/test1.py
test/HowAddMyModule/main.py
